<ul>
    <li><a href="#tabs3-1">INFORMACIÓN PATRIMONIAL<br>&nbsp;</a></li>
    <li><a href="#tabs3-2">MOVIMIENTO  MIGRATORIO<br>&nbsp;</a></li>
    <li><a href="#tabs3-3">INFORMACIÓN DE LA CÁMARA DE COMERCIO,<br> INFOCORP Y SBS</a></li>
</ul>

{% include 'hojaVidaBundle:formularios:frm_info_patrimonial.html.twig' %}
{% include 'hojaVidaBundle:formularios:frm_mov_migratorio.html.twig' %}
{% include 'hojaVidaBundle:formularios:frm_info_cc_sbs.html.twig' %}