
<ul>
    <li><a href="#tabs4-1">INFORMACIÓN DEL REGISTRO <br>DE DEUDORES ALIMENTARIOS MOROSOS - REDAM</a></li>
    <li><a href="#tabs4-2">INFORMACIÓN COMPLEMENTARIA <br> &nbsp;</a></li>
</ul>
  {% include 'hojaVidaBundle:formularios:frm_registro_deudores_alimentarios.html.twig' %}
  {% include 'hojaVidaBundle:formularios:frm_info_complementaria.html.twig' %}