<div id="tabs4-2">
    <div class="area-registro">
        <div class="tab-title">
            INFORMACIÓN COMPLEMENTARIA
        </div>
        <table width="100%" border="0" cellspacing="10px" align="center">
            <tr>
                <td>
                    <textarea style="height: 200px;width: 100%;font-size: 23px;"></textarea>
                </td>
            </tr>
        </table>
    </div>  

</div>