<div id="tabs1-5">
    <div class="area-registro">

        <div class="tab-title">CONDUCTA</div>


        <form id="frm-conducta">
            <div id="ac_conducta">
                {% include 'hojaVidaBundle:formularios/conducta:antecedentes.html.twig' %}
                {% include 'hojaVidaBundle:formularios/conducta:procesos_judiciales.html.twig' %}
                {% include 'hojaVidaBundle:formularios/conducta:procesos_administrativos.html.twig' %}
                {% include 'hojaVidaBundle:formularios/conducta:procesos_PJudicial.html.twig' %}
                {% include 'hojaVidaBundle:formularios/conducta:procesos_MPublico.html.twig' %}
                </div>
            </form>
        </div>  
    </div>
