<div id="tabs3-1">
    <div class="area-registro">
        <form id="frm_info_patrimonial">
            <div class="tab-title">
                INFORMACIÓN PATRIMONIAL (ECONÓMICA E INMOBILIARIA)
            </div>
            <table width="100%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td>
                        <label class="labelText">
                            1. Cuadro de Declaraciones Juradas de Bienes y Rentas
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table  width="80%" class="table ui-widget ui-widget-content">

                            <tr>
                                <td rowspan="3">Ingresos</td>
                                <td>Año:</td>
                                <td><input name="txt_ing_anio" type="text" class="row-edit numeric"></td>
                            </tr>
                            <tr>
                                <td>Remuneración Bruta mensual (sector público):</td>
                                <td><input name="txt_ing_remu" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>Dietas o similares</td>
                                <td><input  name="txt_ing_dietas" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>TOTAL:</td>
                                <td></td>
                                <td><input name="txt_ing_total" type="text" class="row-edit decimal"></td>
                            </tr>
                        </table>
                        <br>
                        <table width="80%" class="table ui-widget ui-widget-content">
                            <tr>
                                <td rowspan="3" align="center">Otros<br>Ingresos:</td>
                                <td class="ui-widget-header">Ingresos del declarante y de la sociedad de gananciales</td>
                                <td class="ui-widget-header" align="center">Valor S/.</td>

                            </tr>
                            <tr>
                                <td><input name="txt_otr_ing[]" type="text" class="row-edit"></td>
                                <td><input name="txt_otr_val[]" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td><input name="txt_otr_ing[]" type="text" class="row-edit"></td>
                                <td><input name="txt_otr_val[]" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>TOTAL:</td>
                                <td></td>
                                <td><input type="text" class="row-edit decimal"></td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="labelText">
                            2. Cuadro de su Patrimonio Inmobiliario
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="80%" class="table ui-widget ui-widget-content">

                            <tr>
                                <td rowspan="3" align="center">Bienes<br> inmuebles:</td>
                                <td class="ui-widget-header" align="center">Tipo de Bien</td>
                                <td class="ui-widget-header" align="center">Ubicación</td>
                                <td class="ui-widget-header" align="center">Fecha de Adquisición</td>
                                <td class="ui-widget-header" align="center">Valor de<br> Autovalúo S/.</td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="txt_tip_patrimonio[]" value="1" type="hidden">
                                    <input name="txt_tip_bien[]" type="text" class="row-edit">
                                </td>
                                <td><input name="txt_ubic[]" type="text" class="row-edit"></td>
                                <td><input name="txt_fec_pat[]" type="text " class="row-edit datepicker"></td>
                                <td><input name="txt_monto_pat[]" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="txt_tip_patrimonio[]" value="1" type="hidden">
                                    <input name="txt_tip_bien[]" type="text" class="row-edit">
                                </td>
                                <td><input name="txt_ubic[]" type="text" class="row-edit"></td>
                                <td><input name="txt_fec_pat[]" type="text" class="row-edit datepicker"></td>
                                <td><input name="txt_monto_pat[]" type="text" class="row-edit decimal"></td>
                            </tr>
                            
                            <tr>
                                <td>TOTAL:</td>
                                <td colspan="3"></td>
                                <td><input type="text" class="row-edit decimal"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="80%" class="table ui-widget ui-widget-content">

                            <tr>
                                <td rowspan="3" align="center">Bienes<br> muebles:</td>
                                <td class="ui-widget-header" align="center">Tipo de Bien</td>
                                <td class="ui-widget-header" align="center">Ubicación</td>
                                <td class="ui-widget-header" align="center">Fecha de Adquisición</td>
                                <td class="ui-widget-header" align="center">Valor de<br> Autovalúo S/.</td>



                            </tr>
                            <tr>
                                <td>
                                    <input name="txt_tip_patrimonio[]" value="2" type="hidden">
                                    <input name="txt_tip_bien[]" type="text" class="row-edit">
                                </td>
                                <td><input name="txt_ubic[]" type="text" class="row-edit"></td>
                                <td><input name="txt_fec_pat[]" type="text" class="row-edit datepicker"></td>
                                <td><input name="txt_monto_pat[]" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="txt_tip_patrimonio[]" value="2" type="hidden">
                                    <input name="txt_tip_bien[]" type="text" class="row-edit">
                                </td>
                                <td><input name="txt_ubic[]" type="text" class="row-edit"></td>
                                <td><input name="txt_fec_pat[]" type="text" class="row-edit datepicker"></td>
                                <td><input name="txt_monto_pat[]" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>TOTAL:</td>
                                <td colspan="3"></td>
                                <td><input type="text" class="row-edit decimal"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="80%" class="table ui-widget ui-widget-content">

                            <tr>
                                <td rowspan="2" align="center">Otros bienes:</td>
                                <td class="ui-widget-header" align="center">Detallar</td>
                                <td class="ui-widget-header" align="center">Valor</td>

                            </tr>
                            <tr>
                                <td><input name="txt_otr_descrip" type="text" class="row-edit"></td>
                                <td><input name="txt_otr_valor"type="text" class="row-edit decimal"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table  width="80%" class="table ui-widget ui-widget-content">

                            <tr>
                                <td rowspan="2" align="center">Sistema Financiero</td>
                                <td class="ui-widget-header" align="center">Clase</td>
                                <td class="ui-widget-header" align="center">Entidad o Tercero</td>
                                <td class="ui-widget-header" align="center">Monto S/.</td>


                            </tr>
                            <tr>
                                <td><input name="txt_clase_sis" type="text" class="row-edit"></td>
                                <td><input name="txt_enti_sis" type="text" class="row-edit"></td>
                                <td><input name="txt_val_sis" type="text" class="row-edit decimal"></td>

                            </tr>


                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table  width="80%" class="table ui-widget ui-widget-content">

                            <tr>
                                <td rowspan="2" align="center">
                                    Acreencias y<br> Obligaciones a su cargo
                                </td>
                                <td class="ui-widget-header" align="center">Naturaleza de la deuda</td>
                                <td class="ui-widget-header" align="center">Entidad o Tercero</td>
                                <td class="ui-widget-header" align="center">Monto S/.</td>
                            </tr>
                            <tr>
                                <td><input name="txt_nat_acre" type="text" class="row-edit"></td>
                                <td><input name="txt_ent_acre" type="text" class="row-edit"></td>
                                <td><input name="txt_mon_acre" type="text" class="row-edit decimal"></td>
                            </tr>
                            <tr>
                                <td>TOTAL:</td>
                                <td colspan="2"></td>
                                <td><input type="text" class="row-edit decimal"></td>
                            </tr>


                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>  

</div>