<div id="tabs3-2">
    <div class="area-registro">                        
        <div class="tab-title">
            MOVIMIENTO MIGRATORIO
        </div>
        <table width="100%" border="0" cellspacing="10px" align="center">
            <tr>
                <td>
                    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
                        <thead>

                            <tr class="ui-widget-header">
                                <th  align="center">Movimiento</th>
                                <th  align="center">Fecha</th>
                                <th  align="center">Destino / Procedencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Entrada</td>
                                <td><input type="text" class="row-edit"></td>
                                <td><input type="text" class="row-edit"></td>
                            </tr>
                            <tr>
                                <td>Salida</td>
                                <td><input type="text" class="row-edit"></td>
                                <td><input type="text" class="row-edit"></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
    </div>  

</div>