<div id="tabs3-2">
    <div class="area-registro">                        
        <div class="tab-title">
            MOVIMIENTO MIGRATORIO
        </div>
        <form id="frm_mov_migratorio">
            <table width="100%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td>
                        <div  class="add-icon" id="add_mov_migratorio" >Nueva fila</div><br><br>
                        <table width="80%" id="table_mov_migratorio" class="table ui-widget ui-widget-content">
                            <thead>

                                <tr class="ui-widget-header">
                                    <th  width="100px" align="center">Movimiento</th>
                                    <th  width="100px" align="center">Fecha</th>
                                    <th  align="center">Destino / Procedencia</th>
                                    <th width="50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <select name="txt_tipo[]">
                                            <option value="0">-ELEGIR-</option>
                                            <option value="1">ENTRADA</option>
                                            <option value="2">SALIDA</option>
                                        </select>
                                    </td>
                                    <td><input name="txt_fecha[]" type="text" class="row-edit datepicker"></td>
                                    <td><input name="txt_destino[]" type="text" class="row-edit"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </table>
        </form>
    </div>  

</div>