<div class="area-registro">
    <div class="tab-title">INFORMACIÓN PATRIMONIAL
        <br>
        FORMATO DE LA DIRECCIÓN DE EVALUACIÓN Y RATIFICACIÓN</div>

    <b>INFORMACIÓN PATRIMONIAL</b><br>

    A) SE RECIBIÒ INFORMACIÓN DE INGRESOS, EGRESOS, PERSONAS A SU CARGO, AHORROS EN EL <br>
    SISTEMA FINANCIERO Y AHORROS SIN CUSTODIA BANCARIA:<br><br>
    <table border=1 align="center" width="80%" cellspacing="0">
        <thead>
            <tr class="ui-widget-header">
                <th>AÑO</th>
                <th>INGRESO<br>ANUAL<br>PROMEDIO<br>SECTOR PÚBLICO</th>
                <th>INGRESO<br>ANUAL<br>PROMEDIO<br>SECTOR<br>PRIVADO</th>
                <th>TOTAL<br>DE<br>INGRESO<br>ANUAL<br>PROMEDIO </th>
                <th>AHORROS<br>SISTEMA<br>FINANCIERO</th>
                <th>AHORROS<br>SIN<br>CUSTODIA<br>FINANCIERA</th>
                <th>Nº<br>PERSONAS<br>A SU<br>CARGO</th>
                <th>ACREENCIAS Y<br>OBLIGACIONES</th>
                <th>INGRESO<br>ANUAL<br>PROMEDIO<br>CONYUGE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 30%;">
        <div id="chartdiv" style="height:400px;width:600px;"></div>
    </div>
</div>