<div class="area-registro">
    <div class="tab-title">INFORMACIÓN PATRIMONIAL

        FORMATO DE LA DIRECCIÓN DE EVALUACIÓN Y RATIFICACIÓN</div>

    <b>INFORMACIÓN PATRIMONIAL</b><br>
    <div id="accordion">
        <h3>SE RECIBIÒ INFORMACIÓN DE INGRESOS, EGRESOS, PERSONAS A SU CARGO, AHORROS EN EL 
            SISTEMA FINANCIERO Y AHORROS SIN CUSTODIA BANCARIA:</h3>
        <div>    
            <table width="100%" border="1" cellspacing="0">
                <tr class="ui-widget-header">
                    <td colspan="2">Breve descripción:</td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <br><br>
                        <div  class="add-icon" id="add_infopat1" >Nueva fila</div><br><br>
                        <table border=1 id="table_infopat1" width="80%" cellspacing="0" style="margin:15px;">
                            <thead>
                                <tr class="ui-widget-header">
                                    <th>AÑO</th>
                                    <th>INGRESO<br>ANUAL<br>PROMEDIO<br>SECTOR PÚBLICO</th>
                                    <th>INGRESO<br>ANUAL<br>PROMEDIO<br>SECTOR<br>PRIVADO</th>
                                    <th>TOTAL<br>DE<br>INGRESO<br>ANUAL<br>PROMEDIO </th>
                                    <th>AHORROS<br>SISTEMA<br>FINANCIERO</th>
                                    <th>AHORROS<br>SIN<br>CUSTODIA<br>FINANCIERA</th>
                                    <th>Nº<br>PERSONAS<br>A SU<br>CARGO</th>
                                    <th>ACREENCIAS Y<br>OBLIGACIONES</th>
                                    <th>INGRESO<br>ANUAL<br>PROMEDIO<br>CONYUGE</th>
                                    <th width="50px"></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_infopat1">
                                <tr>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td class="ui-widget-header">Fuente:</td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
            </table>
        </div>
        <h3>SE RECIBIÓ INFORMACIÓN DE ESPOSO(A), CÓNYUGE, CONVIVIENTE (INDICAR LUGAR DE TRABAJO E INGRESO MENSUAL) Y NÚMERO DE HIJOS:</h3>
        <div>
            <table width="100%" border="1" cellspacing="0">
                <tr class="ui-widget-header">
                    <td colspan="2">Breve descripción:</td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <table border=1   width="80%" cellspacing="0" style="margin:15px;">
                            <thead>
                                <tr class="ui-widget-header">
                                    <th>NOMBRE DEL CÓNYUGE</th>
                                    <th>OCUPACIÓN</th>
                                    <th>REGIMEN</th>
                                    <th>N° DEPENDIENTES</th>
                                    <th>OBSERVACIONES</th>
                                    <th width="50px"></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_infopat2">
                                <tr>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <b>INGRESOS DEL CÓNYUGE (según formato de datos)</b><br><br>
                        <div  class="add-icon" id="add_infopat3" >Nueva fila</div><br><br>
                        <table border=1 id="table_infopat1" width="80%" cellspacing="0" style="margin:15px;">
                            <thead>
                                <tr class="ui-widget-header">
                                    <th>AÑO</th>
                                    <th>NOMBRE DE CONYUGE <br>O CONVIVIENTE<br>(Subrayar según corresponda)</th>
                                    <th>INGRESO<br>MENSUAL / ANUAL	</th>
                                    <th>DEPENDENCIA EN LA <br>QUE LABORA</th>
                                    <th>CARGO QUE OSTENTA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="ui-widget-header">Fuente:</td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
            </table>
        </div>
        <h3>SE RECIBIERON LAS DECLARACIONES JURADAS DE BIENES Y RENTAS REQUERIDAS:</h3>
        <div>
            <table width="100%" border="1" cellspacing="0">
                <tr class="ui-widget-header">
                    <td colspan="2">Breve descripción:</td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <table border=1  width="80%" cellspacing="0" style="margin:15px;">
                            <thead>

                                <tr class="ui-widget-header">
                                    <th>N°</th>
                                    <th>DESCRIPCION Y UBICACIÓN DEL <br>BIEN<br> (País/departamento/provincia/ciudad)</th>
                                    <th>FECHA, MODO Y <br>PRECIO DE<br> ADQUISICION</th>
                                    <th>ULTIMO<br>VALOR<br>DECLARADO</th>
                                    <th>DATOS DE<br>INSCRIPCION<br>REGISTROS<br>PUBLICOS</th>
                                    <th>DE HABERLO<br>TRANSFERIDO,<br>INDIQUE FECHA,<br>MODO Y PRECIO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>                                    
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <b>INGRESOS DEL CÓNYUGE (según formato de datos)</b><br><br>
                        <table border=1  width="80%" cellspacing="0" style="margin:15px;">
                            <thead>
                                <tr class="ui-widget-header">
                                    <th>AÑO</th>
                                    <th>NOMBRE DE CONYUGE <br>O CONVIVIENTE<br>(Subrayar según corresponda)</th>
                                    <th>INGRESO<br>MENSUAL / ANUAL	</th>
                                    <th>DEPENDENCIA EN LA <br>QUE LABORA</th>
                                    <th>CARGO QUE OSTENTA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                    <td><input type="text" class="row-edit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="ui-widget-header">Fuente:</td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
            </table>



        </div>
        <h3>EXISTE OTRA INFORMACIÓN RELEVANTE RESPECTO A LAS DECLARACIONES JURADAS DE BIENES Y RENTAS:</h3>
        <div>ñlkgdjg</div>
    </div>

</div>



