<h3><label class="labelform">1.&nbsp;&nbsp;ANTECEDENTES PENALES, JUDICIALES Y POLICIALES:</label></h3>
<div>
    <table width="70%" class="table ui-widget ui-widget-content">

        <tr>
            <td width="180px" class="ui-widget-header">Antecedentes Penales:</td>
            <td><input name="txt_apenales" type="text" class="row-edit"></td>
        </tr>
        <tr>
            <td width="180px" class="ui-widget-header">Antecedentes Judiciales:</td>
            <td><input name="txt_ajudiciales" type="text" class="row-edit"></td>
        </tr>
        <tr>
            <td width="180px" class="ui-widget-header">Antecedentes Policiales:</td>
            <td><input name="txt_apoliciales" type="text" class="row-edit"></td>
        </tr>
    </table>
</div>
