<h3>
    <label class="labelform">
        6. EN EL PODER JUDICIAL
    </label>
</h3>
<div>
    <b>EN TRÁMITE:</b>

    <label class="labelform">
        1. PROCESOS DISCIPLINARIOS
    </label>

    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
        <thead>

            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Expediente</th>
                <th>Motivo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="hidden" name="tipo_pjud[]" value="1">
                    <select name="tra_ins_pjud[]">
                        <option value="1">MP</option>
                        <option value="2">PJ</option>
                    </select>
                </td>
                <td>

                    <input type="hidden" name="tra_que_pjud[]">
                    <input type="text" name="tra_exp_pjud[]" class="row-edit">
                </td>
                <td><input type="text" name="tra_mot_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_est_pjud[]"class="row-edit"></td>

            </tr>

        </tbody>
    </table>

    <label class="labelText">
        2. QUEJAS, VISITAS E INVESTIGACIONES ANTE LA OCMA / ODECMA
    </label>Total:

    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
        <thead>




            <tr class="ui-widget-header">
                <th>Nº</th>
                <th>Quejas, Visitas e Investigaciones</th>
                <th>Motivo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="hidden" name="tipo_pjud[]" value="2">
                    <input type="hidden"name="tra_ins_pjud[]">
                    <input type="text" name="tra_exp_pjud[]" class="row-edit">
                </td>
                <td><input type="text" name="tra_que_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_mot_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_est_pjud[]"class="row-edit"></td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="tipo_pjud[]" value="2">
                    <input type="hidden"name="tra_ins_pjud[]">
                    <input type="text" name="tra_exp_pjud[]" class="row-edit">
                </td>
                <td><input type="text" name="tra_que_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_mot_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_est_pjud[]"class="row-edit"></td>
            </tr>


        </tbody>
    </table>

    <label class="labelText">
        3. INVESTIGACIONES PRELIMINARES:
    </label>

    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Nº</th>
                <th>Motivo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <input type="hidden" name="tipo_pjud[]" value="3">
                    <input type="hidden"name="tra_ins_pjud[]">
                    <input type="hidden" name="tra_que_pjud[]">
                    <input type="text" name="tra_exp_pjud[]" class="row-edit">
                </td>
                <td><input type="text" name="tra_mot_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_est_pjud[]"class="row-edit"></td>
            </tr>

            <tr>
                <td>
                    <input type="hidden" name="tipo_pjud[]" value="3">
                    <input type="hidden"name="tra_ins_pjud[]">
                    <input type="hidden" name="tra_que_pjud[]">
                    <input type="text" name="tra_exp_pjud[]" class="row-edit">
                </td>
                <td><input type="text" name="tra_mot_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_est_pjud[]"class="row-edit"></td>
            </tr>

            <tr>
                <td>
                    <input type="hidden" name="tipo_pjud[]" value="3">
                    <input type="hidden"name="tra_ins_pjud[]">
                    <input type="hidden" name="tra_que_pjud[]">
                    <input type="text" name="tra_exp_pjud[]" class="row-edit">
                </td>
                <td><input type="text" name="tra_mot_pjud[]" class="row-edit"></td>
                <td><input type="text" name="tra_est_pjud[]"class="row-edit"></td>
            </tr>

        </tbody>
    </table>
    <b>CONCLUIDAS:</b>

    <label class="labelText">
        1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:
    </label>

    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Institución</th>
                <th>Expediente</th>
                <th>Motivo</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select>
                        <option>PJ</option>
                        <option>MP</option>
                    </select>
                </td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>
            <tr>
                <td>
                    <select>
                        <option>PJ</option>
                        <option>MP</option>
                    </select>
                </td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>

        </tbody>
    </table>

    <label class="labelText">
        2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
    </label><br>Total:

    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Nº</th>
                <th>Quejas, Visitas e Investigaciones</th>
                <th>Motivo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="row-edit" value="1"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>
            <tr>
                <td><input type="text" class="row-edit" value="2"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>

        </tbody>
    </table>

    <label class="labelText">
        3. INVESTIGACIONES PRELIMINARES:
    </label>

    <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Nº</th>
                <th>Motivo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="row-edit" value="1"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>
            <tr>
                <td><input type="text" class="row-edit" value="2"></td>
                <td><input type="text" class="row-edit"></td>
                <td><input type="text" class="row-edit"></td>
            </tr>

        </tbody>
    </table>
</div>
