<h3>
    <label class="labelform">
        7. EN EL MINISTERIO PÚBLICO
    </label>
</h3>
<div>
    <b>EN TRÁMITE</b>
    <div style="padding: 13px 0 0 21px;">
        <label class="labelform"> 1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:</label><br><br>
        <table width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución</th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table><br>

        <label class="labelform">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label>Total:<br><br>

        <table width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="row-edit" value="1"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td><input type="text" class="row-edit" value="2"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table><br>

        <label class="labelform">
            3. INVESTIGACIONES PRELIMINARES:
        </label><br><br>

        <table width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="row-edit" value="1"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td><input type="text" class="row-edit" value="2"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <b>CONCLUIDAS:</b>
    <div style="padding: 13px 0 0 21px;">
        <label class="labelform">
            1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:
        </label><br><br>

        <table width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución</th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table><br>

        <label class="labelform">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label>Total:<br><br>

        <table width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="row-edit" value="1"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td><input type="text" class="row-edit" value="2"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table><br>
    </div>
</div>