<h3><label class="labelform">2. PROCESOS JUDICIALES:</label></h3>
<div>
    <label class="labelform"> PROCESOS JUDICIALES CIVILES, PENALES, DE FAMILIA, LABORALES COMO DEMANDANTE / DENUNCIANTE:</label>
    <br><br>
    <table width="80%" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Expediente</th>
                <th>Expediente Órgano</th>
                <th>Demandado / Denunciado</th>
                <th>Materia</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="0">
                    <input name="txt_exp_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_exp_org_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_dem_agre_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_materia_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_estado_con[]" type="text" class="row-edit"></td>

            </tr>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="0">
                    <input name="txt_exp_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_exp_org_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_dem_agre_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_materia_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_estado_con[]" type="text" class="row-edit"></td>

            </tr>

        </tbody>

    </table>
    <br>
    <label class="labelform">  COMO DEMANDADO / DENUNCIADO:</label><br><br>
    <table  width="80%" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Expediente</th>
                <th>Expediente Órgano</th>
                <th>Demandado / Denunciado</th>
                <th>Materia</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="1">
                    <input name="txt_exp_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_exp_org_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_dem_agre_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_materia_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_estado_con[]" type="text" class="row-edit"></td>

            </tr>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="1">
                    <input name="txt_exp_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_exp_org_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_dem_agre_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_materia_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_estado_con[]" type="text" class="row-edit"></td>
            </tr>

        </tbody>

    </table><br>

    <label class="labelform">COMO AGRAVIADO:</label><br><br>

    <table width="80%" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Expediente</th>
                <th>Órgano Jurisdiccional</th>
                <th>Agresor</th>
                <th>Materia</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="2">
                    <input name="txt_exp_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_exp_org_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_dem_agre_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_materia_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_estado_con[]" type="text" class="row-edit"></td>
            </tr>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="2">
                    <input name="txt_exp_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_exp_org_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_dem_agre_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_materia_con[]" type="text" class="row-edit"></td>
                <td><input name="txt_estado_con[]" type="text" class="row-edit"></td>
            </tr>
        </tbody>
    </table>
    <br><br>
</div>