<tr>
    <td>
        <label class="labelText">
            7.	EN EL MINISTERIO PÚBLICO
        </label>
    </td>
</tr>
<tr>
    <td><b>EN TRÁMITE</b></td>
</tr>
<tr>
    <td>
        <label class="labelText">
            1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:
        </label>
    </td>
</tr>
<tr>
    <td>
        <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución</th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td>
        <label class="labelText">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label><br>Total:
    </td>
</tr>
<tr>
    <td>
        <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="row-edit" value="1"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td><input type="text" class="row-edit" value="2"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td>
        <label class="labelText">
            3. INVESTIGACIONES PRELIMINARES:
        </label>
    </td>
</tr>
<tr>
    <td>
        <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="row-edit" value="1"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td><input type="text" class="row-edit" value="2"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td><b>CONCLUIDAS:</b></td>
</tr>
<tr>
    <td>
        <label class="labelText">
            1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:
        </label>
    </td>
</tr>
<tr>
    <td>
        <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución</th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>PJ</option>
                            <option>MP</option>
                        </select>
                    </td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td>
        <label class="labelText">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label><br>Total:
    </td>
</tr>
<tr>
    <td>
        <table border="1" cellspacing="0" align="center" width="80%" class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="row-edit" value="1"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>
                <tr>
                    <td><input type="text" class="row-edit" value="2"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                    <td><input type="text" class="row-edit"></td>
                </tr>

            </tbody>
        </table>
    </td>
</tr>