<h3><label class="labelform">2. PROCESOS JUDICIALES:</label></h3>
<div>
    <label class="labelform"> PROCESOS JUDICIALES CIVILES, PENALES, DE FAMILIA, LABORALES COMO DEMANDANTE / DENUNCIANTE:</label>
    <br><br>
    <div  class="add-icon" id="add_proc_jud_civ_lab_d_d" >Nueva fila</div><br><br>
    <table width="80%" id="table_proc_jud_civ_lab_d_d" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header" >
                <th>Expediente</th>
                <th>Expediente Órgano</th>
                <th>Demandado / Denunciado</th>
                <th>Materia</th>
                <th>Estado</th>
                <th width="50px"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="0">
                    <textarea name="txt_exp_con[]" class="info_textarea"></textarea></td>
                <td><textarea name="txt_exp_org_con[]" class="info_textarea"></textarea></td>
                <td><textarea name="txt_dem_agre_con[]" class="info_textarea"></textarea></td>
                <td><textarea name="txt_materia_con[]" class="info_textarea"></textarea></td>
                <td><textarea name="txt_estado_con[]" class="info_textarea"></textarea></td>
                <td></td>
            </tr>
        </tbody>

    </table>
    <br>
    <label class="labelform">  COMO DEMANDADO / DENUNCIADO:</label><br><br>
    <div  class="add-icon" id="add_dem_den" >Nueva fila</div><br><br>
    <table  width="80%" id="table_dem_den" class="table ui-widget ui-widget-content">
        <thead>

            <tr class="ui-widget-header">
                <th>Expediente</th>
                <th>Expediente Órgano</th>
                <th>Demandante / Denunciado</th>
                <th>Materia</th>
                <th>Estado</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="1">
                    <textarea name="txt_exp_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_exp_org_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_dem_agre_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_materia_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_estado_con[]" type="text" class="info_textarea"></textarea></td>
                <td></td>
            </tr>
            

        </tbody>

    </table><br>

    <label class="labelform">COMO AGRAVIADO:</label><br><br>
    <div  class="add-icon" id="add_como_agraviado" >Nueva fila</div><br><br>
    <table width="80%" id="table_como_agraviado" class="table ui-widget ui-widget-content">
        <thead>
            <tr class="ui-widget-header">
                <th>Expediente</th>
                <th>Órgano Jurisdiccional</th>
                <th>Agresor</th>
                <th>Materia</th>
                <th>Estado</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="hd_tipo_jud[]" type="hidden" value="2">
                    <textarea name="txt_exp_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_exp_org_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_dem_agre_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_materia_con[]" type="text" class="info_textarea"></textarea></td>
                <td><textarea name="txt_estado_con[]" type="text" class="info_textarea"></textarea></td>
                <td></td>
            </tr>
           
        </tbody>
    </table>
    <br><br>
</div>