<h3>
    <label class="labelform">
        7. EN EL MINISTERIO PÚBLICO
    </label>
</h3>
<div>
    <b>EN TRÁMITE</b>
    <div style="padding: 13px 0 0 21px;">
        <label class="labelform"> 1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:</label><br><br>
        <table  width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución </th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="hidden" name="tra_tipo_mpub[]" value="1">
                        <select name="tra_ins_mpub[]">
                            <option value="1">MP</option>
                            <option value="2">PJ</option>
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="tra_que_mpub[]">
                        <input type="text" name="tra_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="tra_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_est_mpub[]"class="row-edit"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <label class="labelform">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label>Total:<br><br>
        <table  width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="2">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="text" name="tra_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="tra_que_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_est_mpub[]"class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="2">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="text" name="tra_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="tra_que_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_est_mpub[]"class="row-edit"></td>
                </tr>
            </tbody>
        </table><br>

        <label class="labelform">
            3. INVESTIGACIONES PRELIMINARES:
        </label><br><br>
        <table width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="3">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="hidden" name="tra_que_mpub[]">
                        <input type="text" name="tra_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="tra_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_est_mpub[]"class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="3">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="hidden" name="tra_que_mpub[]">
                        <input type="text" name="tra_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="tra_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_est_mpub[]"class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="tra_tipo_mpub[]" value="3">
                        <input type="hidden"name="tra_ins_mpub[]">
                        <input type="hidden" name="tra_que_mpub[]">
                        <input type="text" name="tra_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="tra_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="tra_est_mpub[]"class="row-edit"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <b>CONCLUIDAS:</b>
    <div style="padding: 13px 0 0 21px;">
        <label class="labelform">
            1. PROCESOS DISCIPLINARIOS EN EL PODER JUDICIAL:
        </label><br><br>
        <table  width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Institución </th>
                    <th>Expediente</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="hidden" name="con_tipo_mpub[]" value="1">
                        <select name="con_ins_mpub[]">
                            <option value="1">MP</option>
                            <option value="2">PJ</option>
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="con_que_mpub[]">
                        <input type="text" name="con_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="con_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="con_est_mpub[]"class="row-edit"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <label class="labelform">
            2. DENUNCIAS Y/O QUEJAS ANTE LA FISCALÍA SUPREMA DE CONTROL INTERNO:
        </label>Total:<br><br>

        <table  width="80%" class="table ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header">
                    <th>Nº</th>
                    <th>Quejas, Visitas e Investigaciones</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="con_tipo_mpub[]" value="2">
                        <input type="hidden"name="con_ins_mpub[]">
                        <input type="text" name="con_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="con_que_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="con_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="con_est_mpub[]"class="row-edit"></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="con_tipo_mpub[]" value="2">
                        <input type="hidden"name="con_ins_mpub[]">
                        <input type="text" name="con_exp_mpub[]" class="row-edit">
                    </td>
                    <td><input type="text" name="con_que_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="con_mot_mpub[]" class="row-edit"></td>
                    <td><input type="text" name="con_est_mpub[]"class="row-edit"></td>
                </tr>
            </tbody>
        </table><br>
    </div>
</div>