
<h3>
    <label class="labelform">
        3. PROCEDIMIENTOS ADMINISTRATIVOS EN LA ADMINISTRACIÓN PÚBLICA EN GENERAL
    </label>
</h3>
<div>
    <table width="80%" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Resolución</th>
                <th>Sanción</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="cbo_ins_adm1">
                        <option value="1">PJ</option>
                        <option value="2">MP</option>
                        <option value="3">Otra Instituci&oacute;n</option>
                    </select>
                </td>
                <td><input type="text" name="txt_res_adm1" class="row-edit"></td>
                <td><input type="text" name="txt_san_adm1" class="row-edit"></td>
                <td><input type="text" name="txt_est_adm1" class="row-edit"></td>

            </tr>

        </tbody>
    </table>
</div>
<h3>
    <label class="labelform">
        4. SANCIONES ADMINISTRATIVAS EN LA ADMINISTRACIÓN PÚBLICA GENERAL
    </label>
</h3>
<div>
    <table  width="80%" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Resolución</th>
                <th>Sanci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="cbo_ins_adm2">
                        <option value="1">PJ</option>
                        <option value="2">MP</option>
                        <option value="4">SERVIR</option>
                    </select>
                </td>

                <td><input type="text" name="txt_res_adm2" class="row-edit"></td>
                <td><input type="text" name="txt_san_adm2" class="row-edit"></td>

            </tr>

        </tbody>
    </table>
</div>
<h3>
    <label class="labelform">
        5. MEDIDAS DISCIPLINARIAS EN EL PODER JUDICIAL Y MINISTERIO PÚBLICO 
    </label>
</h3>
<div>
    <table width="80%" class="table ui-widget ui-widget-content">

        <thead>

            <tr class="ui-widget-header">
                <th>Institución </th>
                <th>Sanci&oacute;n</th>                                    
                <th>Expediente, Resoluci&oacute;n y Motivo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="cbo_ins_adm3">
                        <option value="1">MP</option>
                        <option value="2">PJ</option>
                    </select>
                </td>
                <td><input type="text" name="txt_san_adm3" class="row-edit"></td>
                <td><input type="text" name="txt_res_adm3" class="row-edit"></td>

            </tr>

        </tbody>
    </table>
</div>
