<ul>
   
    <li><a href="#tabs1-2">DATOS COMO POSTULANTE</a></li>
    <li><a href="#tabs1-3">DATOS ACADEMICOS</a></li>
    <li><a href="#tabs1-4">EXPERIENCIA PROFESIONAL</a></li>
    <li><a href="#tabs1-5">CONDUCTA</a></li>
</ul>

{% include 'hojaVidaBundle:Actualizacion/formularios:frm_datos_postulante.html.twig' %}
{% include 'hojaVidaBundle:Actualizacion/formularios:frm_datos_academicos.html.twig' %}
{% include 'hojaVidaBundle:Actualizacion/formularios:frm_exp_profesional.html.twig' %}
{% include 'hojaVidaBundle:Actualizacion/formularios:frm_conducta.html.twig' %}