<ul>
    <li><a href="#tabs2-1">INFORMACIÓN DE LA OFICINA DE <br>REGISTRO DE JUECES Y FISCALES DEL  CNM</a></li>
    <li><a href="#tabs2-2">INFORMACIÓN DE LA DIRECCIÓN DE <br>PROCESOS DISCIPLINARIOS DEL CNM</a></li>
    <li><a href="#tabs2-3">INFORMACIÓN DEL COLEGIO <br> DE ABOGADOS</a></li>

</ul>
{% include 'hojaVidaBundle:formularios:frm_info1.html.twig' %}
{% include 'hojaVidaBundle:formularios:frm_info2.html.twig' %}
{% include 'hojaVidaBundle:formularios:frm_info3.html.twig' %}