
    var num_rows_docderecho = 0;
    $("#add_docderecho").click(function() {
        if (num_rows_docderecho < 4) {
            num_rows_docderecho++;
            add_rows_docderecho();
        }
    });
    $("#tableDocDerecho").delegate(".remove_docderecho", "click", function() {
        if (num_rows_docderecho > 0) {
            var row_position = ($(".remove_docderecho").index($(this)) + 1);
            $(".rowDocDerecho").eq(row_position).remove();
            num_rows_docderecho--;
        }
    });


    function add_rows_docderecho() {
        var new_row = '<tr class="rowDocDerecho">';

        new_row += '<td>';
        new_row += '     <table  class="table ui-widget ui-widget-content" style="margin-bottom: 35px;">';
        new_row += '         <tr>';
        new_row += '             <td width="110px" class="ui-widget-header">Universidad:</td>';
        new_row += '             <td>';
        new_row += '                 <select class="combo-univ" name="cbo_universidad_doc[]"></select>';
        new_row += '             </td>';
        new_row += '         </tr>';
        new_row += '         <tr>';
        new_row += '             <td class="ui-widget-header">Nivel:</td>';
        new_row += '             <td>';
        new_row += '                 <select name="cbo_nivel_doc[]">';
        new_row += '                     <option>TITULADO</option>';
        new_row += '                     <option>EGRESADO</option>';
        new_row += '                     <option>ESTUDIOS INCOMPLETOS</option>';
        new_row += '                 </select>';
        new_row += '             </td>';
        new_row += '         </tr>';
        new_row += '         <tr>';
        new_row += '             <td class="ui-widget-header">Mensi&oacute;n</td>';
        new_row += '             <td><input name="txt_mencion_doc[]" type="text" class="row-edit"></td>';
        new_row += '         </tr>';
        new_row += '         <tr>';
        new_row += '             <td class="ui-widget-header">A&ntilde;o:</td>';
        new_row += '             <td>';
        new_row += '                 <select name="cbo_anio_doc[]" class="cbo_anio"></select>';
        new_row += '             </td>';
        new_row += '         </tr>';
        new_row += '     </table>';
        new_row += ' </td>';
        new_row += ' <td><input type="button" class="remove_docderecho" value="-"></td>';
        new_row += '</tr>';

        $("#bodyDocDerecho").append(new_row);
        comboUniv();
        comboanio();
    }
    var num_rows_maederecho = 0;
    $("#add_maederecho").click(function() {
        if (num_rows_maederecho < 4) {
            num_rows_maederecho++;
            add_rows_maederecho();
        }
    });

    $("#tableMaeDerecho").delegate(".remove_MaeDerecho", "click", function() {
        if (num_rows_maederecho > 0) {
            var row_position = ($(".remove_MaeDerecho").index($(this)) + 1);
            $(".rowMaeDerecho").eq(row_position).remove();
            num_rows_maederecho--;
        }
    });

    function add_rows_maederecho() {
        var new_row = '<tr class="rowMaeDerecho">';
        new_row += '            <td>';
        new_row += '                 <table class="table ui-widget ui-widget-content" style="margin-bottom: 35px;">';
        new_row += '                     <tr>';
        new_row += '                         <td width="110px" class="ui-widget-header">Universidad:</td>';
        new_row += '                         <td>';
        new_row += '                             <select name="cbo_universidad_mae[]" class="combo-univ"></select>';
        new_row += '                         </td>';
        new_row += '                     </tr>';
        new_row += '                     <tr>';
        new_row += '                         <td class="ui-widget-header">Nivel:</td>';
        new_row += '                         <td>';
        new_row += '                             <select name="cbo_nivel_mae[]">';
        new_row += '                                 <option>TITULADO</option>';
        new_row += '                                 <option>EGRESADO</option>';
        new_row += '                                 <option>ESTUDIOS INCOMPLETOS</option>';
        new_row += '                             </select>';
        new_row += '                         </td>';
        new_row += '                     </tr>';
        new_row += '                     <tr>';
        new_row += '                         <td class="ui-widget-header">Mensi&oacute;n:</td>';
        new_row += '                         <td><input  name="txt_mencion_mae[]" type="text" class="row-edit"></td>';
        new_row += '                     </tr>';
        new_row += '                     <tr>';
        new_row += '                         <td class="ui-widget-header">A&ntilde;o:</td>';
        new_row += '                         <td> <select name="cbo_anio_mae[]" class="cbo_anio"></select></td>';
        new_row += '                     </tr>';
        new_row += '                 </table>';
        new_row += '             </td>';
        new_row += '             <td><input type="button" class="remove_MaeDerecho" value="-"></td>';
        new_row += '         </tr>';

        $("#bodyMaeDerecho").append(new_row);
        comboUniv();
        comboanio();
    }


   