<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
        <div id="layer-1" color="black" font-type="judson" font-size="16px">
            <stylesheet>
                <complex-attribute name="border" color="black" />
                <complex-attribute name="background" color="white" />
            </stylesheet>
        </div>

        <div extends="layer-1">
            {{name}}
        </div>


        </dynamic-page>



    </pdf>