body { font-size: 9px}
/*
.ui-tabs-vertical { width: 1000px;  }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 200px;  }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 750px; height: 600px}
*/
#div-dat-pers { height: 521px}
.ui-accordion-content { height: 367px}
#accordion2 > div { height: 260px}
.aa > div { height: 260px}
#tabs > ul > li{ font-weight:700 }

.tableGen {
	
	width: 100%;
	
}

.tableGen th {
	border-bottom: solid 1px #999999;
}

.tableDet {
	width: 100%;
	
}
.tableDet td {
	text-align: center;
	color:#002B4D;
	
}

.tableDet{
	box-shadow: 0px 5px 10px #999999;
	border-radius: 10px;
}


.divFile {

}
 
.divFile [type=file] {
	

}