<div id="tabs4-1">
    <div class="area-registro">
        <form id="frm_info_registro">
            <div class="tab-title">
                INFORMACIÓN DEL REGISTRO DE <br>DEUDORES ALIMENTARIOS MOROSOS - REDAM
            </div>
            <table width="100%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td>
                        <textarea name="txt_deu" style="height: 200px;width: 100%;font-size: 23px;"></textarea>
                    </td>
                </tr>
            </table><br><br>
            <div class="tab-title">
                INFORMACIÓN COMPLEMENTARIA
            </div>
            <table width="100%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td>
                        <textarea name="txt_com" style="height: 200px;width: 100%;font-size: 23px;"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>  

</div>