<div id="tabs3-3">
    <div class="area-registro">
        <div class="tab-title">
            INFORMACIÓN DE LA CÁMARA DE COMERCIO, INFOCORP Y SBS
        </div>
        <table width="100%" border="0" cellspacing="10px" align="center">
            <tr>
                <td>
                    <form id="frm_info_camara">
                        <table  width="80%" class="table ui-widget ui-widget-content">
                            <tr>
                                <td width="20%" class="ui-widget-header">Cámara de Comercio</td>
                                <td>
                                    <input type="hidden" name="hd_tipo[]" value="1">
                                    <textarea class="info_textarea" type="text" name="txt_descripcion[]" ></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="ui-widget-header">Infocorp</td>
                                <td>
                                    <input type="hidden" name="hd_tipo[]" value="2">
                                    <textarea class="info_textarea" name="txt_descripcion[]" ></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="ui-widget-header">SBS</td>
                                <td>
                                    <input type="hidden" name="hd_tipo[]" value="3">
                                    <textarea class="info_textarea" type="text" name="txt_descripcion[]"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>  

</div>