<div id="tabs2-3">
    <div class="area-registro">
        <div class="tab-title">
            INFORMACIÓN DEL COLEGIO DE ABOGADOS
        </div>
        <form id="frm_info_colegio">
            <table width="100%" border="0" cellspacing="10px" align="center">
                <tr>
                    <td>
                        <label class="labelText">1. DENUNCIAS, QUEJAS, PROCESOS DISCIPLINARIOS Y SANCIONES:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="tdescripcion" style="height: 200px;width: 100%;font-size: 23px;"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>  

</div>